<!DOCTYPE html>
<html>
<head>
	<title>{{ item.name }} details</title>
</head>


<body>

<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title mdl-card--expand mdl-cell--middle">
            <div class="mdl-card__title-text">
                {{item.name}}
            </div>
        </div>
        <div class="mdl-card__supporting-text">
            {{item.modelNo}}
            <br>
            {{item.price}}
            <br>
            {{item.launchYear}}
        </div>
    </div>
</div>
</body>
</html>